{% extends 'base.html.twig' %}

{% block title %}Calcul des salaires selon le poste correspondant!{% endblock %}

{% block body %}

<h1> Calcul des salaires selon le poste correspondant! </h1>

 {{ form_start(form) }}
      {{ form_widget(form.input) }}
      <button class="btn btn-primary">Envoyer</button>
  {{ form_end(form) }}

{% endblock %}
